<!DOCTYPE html>
<html>
  <head>

    <title>ASL Kinect</title>
    <% include ../partials/header.ejs %>
    <link href="public/css/grayscale.css" rel="stylesheet">
    <link href="public/css/random.css" rel="stylesheet">
  </head>
  <body>
  	<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/connect">Connect</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  	<div class="fluid-container center">
  		<h1 class="title">Learn!</h1>
  		<button type="button" value="Go" class="btn btn-default" id="randomButt" onclick="random()">Random</button>
  		<div id="gif">
  		</div>
  		<div id="caption">
  		</div>
  	</div>

  	<script>

  		function random(){
  			console.log("hi");
  			var num = (Math.floor(Math.random()*647));
		  var array = ['100', '1000000', '1000b', '1000r', '100c', '200', '2000', '23', '2397', '25', '300', '34', '35', '400', '40s', '500', '600', '700', '800', '900', 'aboutag', 'about-approximately', 'aboveag', 'aboveaglarge', 'abovemorethan', 'accept', 'accompany-along', 'accountantag', 'acrossfromag', 'actor', 'addag', 'addplusag', 'addto', 'africaa', 'africab', 'against', 'ahead', 'air', 'all', 'all2', 'all-lexicalized', 'all-lexicalized-b', 'allowag', 'alltogether', 'almost', 'alrightdouble', 'alrightsingle', 'always', 'am', 'american', 'americanindian', 'an', 'and', 'animal', 'annually', 'annually2', 'another', 'answer', 'any', 'anything', 'apartment', 'approximately', 'area', 'arguea', 'argueb', 'arizona', 'around', 'arrive', 'artist', 'as', 'assistant', 'at', 'atlanta', 'away', 'awful', 'awkward', 'babysiter', 'babysitterb', 'bachelor', 'back-backthere', 'back-body', 'back-lexicalized', 'bake', 'balda', 'baldb', 'baldc', 'ball', 'banana', 'bandage', 'bank', 'baseball', 'basement', 'basketball', 'bat', 'bat-flying', 'bathtub', 'bat-vampire', 'be', 'bear', 'bearda', 'beardb', 'becausea', 'becauseb', 'becausec', 'become', 'bedmake', 'bee', 'begin', 'belowbeneath', 'belowbottom', 'belowlessthan', 'bench', 'best', 'better', 'betweena', 'betweenaverage', 'betweeninbetween', 'bill2', 'birth', 'blouse', 'board', 'bodyshift-or', 'book', 'book-closebook', 'book-openbook', 'boss', 'boston', 'boston2', 'bother', 'bottom', 'bra', 'breadsideview', 'brother-step', 'but', 'butter', 'cafeteria', 'cake', 'call-summon', 'calm-down', 'camera', 'can-able', 'cancel', 'cant', 'cantanimated', 'careful', 'careless', 'carpenter', 'carry', 'cat', 'catb', 'chair', 'character', 'chase', 'chase2', 'chat-with-a', 'chat-with-b', 'cheap', 'cheat', 'check', 'chicago', 'child', 'children', 'childrentwohanded', 'chinanew', 'chineseold', 'chips', 'chipshomesign', 'christmas', 'christmas2', 'class', 'classifier', 'classroom', 'clever', 'climb', 'closecaptioned', 'closecaptioned2', 'clothesanimated', 'cluster', 'coat', 'coffee', 'collect', 'committee', 'computer', 'computerkelsey', 'conflict', 'connect', 'connectto', 'contact', 'cook', 'corner', 'couch', 'couch', 'cough', 'cough2', 'cough3', 'country', 'cow', 'crack', 'crack2', 'crackegg', 'crazy', 'crazy2', 'cupboard', 'dad-step', 'dallas', 'dallasuncommon', 'dark', 'daughter', 'daughterb', 'dead-rigormortis', 'deaf', 'decide', 'decrease', 'delicious', 'demote', 'deplete', 'deposit', 'depressed', 'destroy', 'deteriorate', 'deteriorate2', 'detroit', 'diaper', 'dictionary', 'did', 'die', 'different', 'differenta', 'different-very', 'dig', 'dig2', 'dinosaur', 'discuss', 'disgusted', 'dizzy', 'doctor', 'doga', 'dogb', 'dog-d-o-g', 'doll', 'donkey', 'dont', 'dontcare', 'dontmind', 'door', 'down', 'dozen', 'drawer', 'dream', 'dresser', 'dribble', 'drill', 'drink-up', 'dripleak', 'drop', 'drunk', 'dryer', 'duck', 'during-along', 'duty', 'each', 'eachversion2', 'eagle', 'earrings', 'earth', 'earthquake', 'easter', 'elementary', 'elephant', 'elephantversion2', 'email', 'emailb', 'emergency', 'emergencyvehicle', 'enjoy', 'enter', 'enthusiastic', 'equal', 'establish', 'europe', 'every', 'everyversion2', 'exact', 'excuse', 'excuselayoff', 'exit', 'exit-out', 'explain', 'fail', 'failb', 'failc', 'faild', 'fallbehind', 'fall-down', 'fallinlove', 'false', 'fancy', 'farm', 'farmer', 'farnotfar', 'father-step', 'fault', 'feed', 'feet', 'figure', 'find', 'fire', 'fireman', 'firemanb', 'first', 'first-b', 'first-c', 'first-place', 'fish', 'fishing', 'follow', 'for', 'force', 'for-for', 'forgeta', 'forgetb', 'frugal2.wmv', 'furniture', 'garage', 'german', 'get', 'get-become', 'ghost', 'girl-littlegirl', 'give-givetoeverybody', 'give-handtoeachone', 'give-himgivetome', 'give-megivehim', 'give-megiveyou', 'give-up', 'give-yougiveme', 'glasses', 'glassesb', 'gomakeyourbed', 'grass', 'group', 'hairdryer', 'have-to', 'hearingaid', 'hearoverhear', 'here-d', 'here-e', 'hike', 'himself', 'hit', 'hockey', 'holiday', 'hurt', 'icecream', 'idea', 'if-a', 'if-b', 'if-c', 'important', 'impossible', 'incompetent', 'increase', 'infection', 'inlaw', 'inlawbrother', 'inlawbrotherb', 'inlawsister', 'internet', 'internetb', 'intersection', 'ireland', 'island', 'kitchena', 'kitchenb', 'knife', 'knifecutwithknife', 'knifeversion1', 'know', 'know-b', 'know-c', 'know-that', 'laborday', 'large', 'laugh', 'laydown', 'left-ontheleftside', 'lesson', 'lessonsideview', 'library', 'light-bright', 'light-general', 'light-headlights', 'light-lamp', 'light-match', 'light-overhead', 'listen', 'little-bit', 'lookat', 'lookat-that', 'loud', 'luck', 'luckgoodluck', 'machine', 'magician', 'make', 'manversiona', 'manversionb', 'manversionc', 'math', 'meaning', 'member', 'memorial', 'microwave', 'month-sixmonths', 'more-one-more', 'mother-step', 'mountain', 'mouth', 'move', 'movie', 'music', 'myself', 'nation', 'neighbor', 'neighborb', 'never', 'new', 'newyork', 'next', 'niceclean', 'no', 'not', 'notasl', 'nothing', 'ocean', 'oclock-1', 'oclock3', 'of', 'offc', 'offd', 'offe', 'oh-i-see-b', 'on', 'onc', 'once', 'ond', 'open-up-a-newspaper', 'or', 'ounce', 'oven', 'owe', 'own', 'page', 'pants', 'pantsb', 'party', 'pass', 'past', 'peachversion1', 'peachversion2', 'peanutbutter', 'people', 'pet', 'phone', 'phone-ttycall', 'phone-voicecall', 'picturea', 'pictureb', 'picture-take-a', 'pie', 'pilgrim', 'pittsburg', 'plan', 'planprepare', 'plant', 'play', 'pleasecloseup', 'poetry', 'police', 'policeb', 'postpone', 'postponeversion1', 'president', 'printer', 'program', 'progress', 'pumkin', 'put', 'put-away', 'put-inslot', 'put-pack', 'put-sortout', 'put-up-with', 'quote', 'race', 'read', 'reason', 'rebel', 'refridgerator', 'remember', 'right-ontherightside', 'river', 'riverwiggle', 'rollerblade', 'rude', 'run', 'run2', 'russia', 'same-f', 'same-g', 'same-h', 'say-what-did-he-say', 'scarf', 'scientist', 'scientistb', 'scooter', 'second-place', 'secret', 'secretary', 'secretarya', 'secretaryc', 'see', 'seize', 'selfanimated', 'self-yourselfanimated', 'separated', 'sew1', 'shaveversionb', 'shirt', 'shoes', 'short', 'shower', 'showupappear', 'shutup', 'sick-laidout', 'signlanguage', 'since', 'singer', 'singer2', 'single-b', 'single-c', 'sink', 'sink-s-i-n-k', 'sister-step', 'sit', 'skate', 'sleepy', 'small', 'small-b', 'small-c', 'smell', 'so', 'socks', 'some', 'something', 'sometimes', 'son', 'sonb', 'sophomore', 'sorry', 'spain', 'speak', 'spellversion2', 'spread', 'stand-getup', 'stand-up', 'start', 'stay', 'steal', 'step', 'still', 'stove', 'stripes', 'struggle', 'study', 'suppose', 'suppose2', 'swell', 'swing', 'table', 'take', 'takeaway', 'takecareof', 'take-it-easy', 'take-pill', 'take-up', 'talk', 'talk-with', 'talk-withb', 'tea', 'team', 'tell', 'tell-him', 'tell-me', 'temple', 'texas', 'thanksgiving', 'then', 'there-c', 'there-d', 'thing', 'third-place', 'throw', 'time', 'toothpaste', 'trade', 'tradeexchange', 'tree', 'true-b', 'tty', 'turkey', 'turn', 'underwear', 'up', 'up-till-now-b', 'uptilnow', 'utahlex', 'vegetableversion2', 'videotape', 'visit', 'volunteer', 'waitress', 'wake-up', 'walk', 'walkto', 'wall', 'watchb', 'way', 'wearout', 'week-3weeks', 'weld', 'whatkind', 'which', 'window', 'window-closewindow', 'window-openwindow', 'wine', 'without', 'wonderful', 'world', 'worse', 'WS_FTP.LOG', 'year-3years', 'yell', 'yes', 'young', 'you-somewhatsurprised', 'z2', 'zip' ];
		  var elem = document.getElementById('gif');
		  elem.innerHTML = '<img src="http://www.lifeprint.com/asl101/gifs-animated/'+array[num]+'">';
		  var elem2 = document.getElementById('caption');
		  elem2.innerHTML = array[num];
		}
	</script>
  </body>
</html>

